<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>PaymentMethod</b>Registration</a>
    </div>

    <div class="register-box-body">
        {{!-- start general --}}
        <form method="POST" action="/payment/AddPaymentMethod">
            <div class="form-group">
                <label for="p_method">payment Method</label>
                <input type="text" name="p_method" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
</div>
</div>
</div>