<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Brand</b>Registration</a>
    </div>

    <div class="register-box-body">


        {{!-- start general --}}
        <form method="POST" action="/category/AddBrand">
            <div class="form-group">
                <label for="brand">brand</label>
                <input type="text" name="brand" class="form-control" required>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
</div>
</div>