{{!-- <h1>{{quantity}}</h1> --}}
<div style="margin-left: 5%;margin-right: 5%;">
<div class="row">
    {{# if data}}
    <a href="/products/viewLowLive" style="color: white "><div class="well col-sm-4" style="background-color:lightseagreen; height: 120px; ">
        <h2>Low Live {{lowlive}}<span class="pull-right"><img src="https://img.icons8.com/color/48/000000/low-battery.png"></span></h2>
    </div></a>
    {{else}}
    <a href="#"><div class="well col-sm-4" style="background-color:tomato; height: 120px; ">
        <h2>Low Live {{lowlive}}</h2>
    </div></a>
    {{/if}}
     <div class="well col-sm-4" style="background-color:salmon; height: 120px; ">

    </div>
     <div class="well col-sm-4" style="background-color:silver;  height: 120px; ">

    </div>
</div>
</div>