<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Category</b>Registration</a>
    </div>

    <div class="register-box-body">
        {{!-- start general --}}
        <form method="POST" action="/category/AddSubCategory">
        
            <div class="form-group">
                <label for="sub">Sub Category</label>
                <input type="text" name="sub" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
</div>
</div>