<div class="box">
    <div class="register-logo">
        <a href="#"><b>LiveProduct</b>Update</a>
    </div>

    <div class="box-body">

        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-2 col-sm-offset-3">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="well">
                            <h4>Select Serial numbers</h4>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-secondary">1</button>
                                <button type="button" class="btn btn-secondary">2</button>
                                <button type="button" class="btn btn-secondary">3</button>
                                <button type="button" class="btn btn-secondary">4</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="well">
                            <form action="/products/saveSerial/{{product.id}}" method="POST">

                                <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" class="form-control" value="{{product.model}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="lot_number">Lot Number</label>
                            <input type="number" name="lot_number" class="form-control" value="3245" readonly>
                        </div>
                        <div class="form-group">
                            <label for="purchase_price">Purchase Price</label>
                            <input type="number" name="purchase_price" class="form-control" value="20000" readonly>
                        </div>
                         <div class="form-group">
                            <label for="quantity">Unit/Selling Price</label>
                            <input type="number" name="quantity" class="form-control" value="" >
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" class="form-control" value="" >
                        </div>
                        <div class="form-group">
                            <label for="serial">Serial Number</label>
                            <textarea type="text" name="serial" class="form-control"  ></textarea>
                            <p>Select serial numbers from sidebar </p>
                        </div>

                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>