.description{
    color: dimgray;
}
.borderless td, .borderless th {
    border: none;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(218, 37, 37);
    border-radius: 50%;
    display: inline-block;
  }

  :required {
    background: red;
  }
 
  input:required:focus {
    border: 1px solid red;
    outline: none;
  }
  
  /**
   * style input elements that have a required
   * attribute and a hover state
   */
  input:required:hover {
    opacity: 1;
  }
.price {
    font-size: 25px;
}



/* .inner{
    overflow: hidden;
} */
.thumbnail {
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.2);
}
.thumbnail{
    overflow: hidden;
    background-color: #d1d3d6;
}
.thumbnail:hover {
    transform: scale(1.05);
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {

    float: none;
    clear: both;
    /*display:block;*/
}

.dropdown-submenu.pull-left1>.dropdown-menu {
    left:-300px;
    margin-left: 10px;

    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;

}

.dropdown-submenu.pull-left2>.dropdown-menu {
    left:-230px;
    margin-left: 10px;

    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;

}
