<div id="content">

    <div class="container-fluid">
        <form action="http://demo.arastta.org/admin/index.php?route=sale/return/edit&amp;token=a8e237b3666ef85e9e65e7f38c3d8cae&amp;return_id=3"
            method="post" enctype="multipart/form-data" id="form-return" class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 left-col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Order Information</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="general">
                                <div class="form-group required">
                                    <label class="col-sm-12" for="input-order-id">Order ID</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="order_id"  placeholder="Order ID" id="input-order-id"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12" for="input-date-ordered">Order Date</label>
                                    <div class="col-sm-12">
                                        <div class="input-group date">
                                            <input type="text" name="date_ordered"  placeholder="Order Date"
                                                data-date-format="YYYY-MM-DD" id="input-date-ordered" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12" for="input-customer">Customer</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="customer"  placeholder="Customer"
                                            id="input-customer" class="form-control" autocomplete="off">
                                        <ul class="dropdown-menu" style="top: 35px; left: 15px; display: none;">
                                            <li class="dropdown-header">Default</li>
                                            <li data-value="29"><a href="#">&nbsp;&nbsp;&nbsp;Demo Customer</a></li>
                                        </ul>
                                        <input type="hidden" name="customer_id" value="29">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-12" for="input-firstname">First Name</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="firstname"  placeholder="First Name" id="input-firstname"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-12" for="input-lastname">Last Name</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="lastname"  placeholder="Last Name" id="input-lastname"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-12" for="input-email">E-Mail</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="email"  placeholder="E-Mail"
                                            id="input-email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-12" for="input-telephone">Telephone</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="telephone"  placeholder="Telephone" id="input-telephone"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add Return History</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-12" for="input-return-status">Return Status</label>
                                <div class="col-sm-12">
                                    <div class="btn-group bootstrap-select dropup"><button type="button" class="btn dropdown-toggle btn-default"
                                            data-toggle="dropdown" data-id="input-return-status" title="Awaiting Products"
                                            aria-expanded="false"><span class="filter-option pull-left">Awaiting
                                                Products</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                        <div class="dropdown-menu open" style="max-height: 854.833px; overflow: hidden; min-height: 0px;">
                                            <ul class="dropdown-menu inner" role="menu" style="max-height: 842.833px; overflow-y: auto; min-height: 0px;">
                                                <li data-original-index="0" class="selected"><a tabindex="0" class=""
                                                        style="" data-tokens="null"><span class="text">Awaiting
                                                            Products</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="1"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Complete</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="2"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Pending</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-notify">Notify Customer</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" name="notify"  id="input-notify">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-history-comment">Comment</label>
                                <div class="col-sm-12">
                                    <textarea name="history_comment" rows="8" id="input-history-comment" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                <button id="button-history" data-loading-text="Loading..." class="btn btn-primary"><i
                                        class="fa fa-plus-circle"></i> Add History</button>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="col-sm-6 right-col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Product Information &amp; Reason for Return</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group required">
                                <label class="col-sm-12" for="input-product"><span data-toggle="tooltip" title=""
                                        data-original-title="(Autocomplete)">Product</span></label>
                                <div class="col-sm-12">
                                    <input type="text" name="product"  placeholder="Product" id="input-product"
                                        class="form-control" autocomplete="off">
                                    <ul class="dropdown-menu" style="top: 35px; left: 15px; display: none;">
                                        <li data-value="40"><a href="#">Joggers Khaki</a></li>
                                    </ul>
                                    <input type="hidden" name="product_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-model">Model</label>
                                <div class="col-sm-12">
                                    <input type="text" name="model"  placeholder="Model" id="input-model"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-quantity">Quantity</label>
                                <div class="col-sm-12">
                                    <input type="text" name="quantity" placeholder="Quantity" id="input-quantity"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-return-reason">Return Reason</label>
                                <div class="col-sm-12">
                                    <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default"
                                            data-toggle="dropdown" data-id="input-return-reason" title="Dead On Arrival"
                                            aria-expanded="false"><span class="filter-option pull-left">Dead On Arrival</span>&nbsp;<span
                                                class="bs-caret"><span class="caret"></span></span></button>
                                        <div class="dropdown-menu open" style="max-height: 508.683px; overflow: hidden; min-height: 83px;">
                                            <ul class="dropdown-menu inner" role="menu" style="max-height: 496.683px; overflow-y: auto; min-height: 71px;">
                                                <li data-original-index="0" class="selected"><a tabindex="0" class=""
                                                        style="" data-tokens="null"><span class="text">Dead On Arrival</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="1"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Faulty, please supply
                                                            details</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="2"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Order Error</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="3"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Other, please supply
                                                            details</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="4"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Received Wrong Item</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-opened">Opened</label>
                                <div class="col-sm-12">
                                    <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default"
                                            data-toggle="dropdown" data-id="input-opened" title="Unopened"
                                            aria-expanded="false"><span class="filter-option pull-left">Unopened</span>&nbsp;<span
                                                class="bs-caret"><span class="caret"></span></span></button>
                                        <div class="dropdown-menu open" style="max-height: 782.383px; overflow: hidden; min-height: 0px;">
                                            <ul class="dropdown-menu inner" role="menu" style="max-height: 770.383px; overflow-y: auto; min-height: 0px;">
                                                <li data-original-index="0"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Opened</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="1" class="selected"><a tabindex="0" class=""
                                                        style="" data-tokens="null"><span class="text">Unopened</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-comment">Comment</label>
                                <div class="col-sm-12">
                                    <textarea name="comment" rows="5" placeholder="Comment" id="input-comment" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="input-return-action">Return Action</label>
                                <div class="col-sm-12">
                                    <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default"
                                            data-toggle="dropdown" data-id="input-return-action" title="Nothing selected"
                                            aria-expanded="false"><span class="filter-option pull-left">Nothing
                                                selected</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                        <div class="dropdown-menu open" style="max-height: 552.183px; overflow: hidden; min-height: 83px;">
                                            <ul class="dropdown-menu inner" role="menu" style="max-height: 540.183px; overflow-y: auto; min-height: 71px;">
                                                <li data-original-index="0" class="selected"><a tabindex="0" class=""
                                                        style="" data-tokens="null"><span class="text"></span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="1"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Credit Issued</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="2"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Refunded</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="3"><a tabindex="0" class="" style=""
                                                        data-tokens="null"><span class="text">Replacement Sent</span><span
                                                            class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </form>
    </div>
</div>