<div id="container" style="height: 1766px;">
    <div class="row">
        
        <div class="col-sm-11">

        </div>
        <div class="col-sm-1">
            <a class="btn btn-success pull-right" href="#">New Return</a>
        </div>

    </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 left-col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Order Details</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="order">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Order ID:</td>
                                                <td>#1592</td>
                                            </tr>
                                            <tr>
                                                <td>Invoice No:</td>
                                                <td>
                                                    <button id="button-invoice" class="btn btn-success btn-xs">
                                                        <i class="fa fa-cog"></i> Generate</button>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Customer:</td>
                                                <td>vfevv fvdfvdf</td>
                                            </tr>
                                           
                                            <tr>
                                                <td>E-Mail:</td>
                                                <td><a href="mailto:bfemrekastan@gmail.com">bfemrekastan@gmail.com</a></td>
                                            </tr>
                                            <tr>
                                                <td>Telephone:</td>
                                                <td>05059362244</td>
                                            </tr>
                                            <tr>
                                                <td>Total:</td>
                                                <td>$20.00</td>
                                            </tr>
                                            <tr>
                                                <td>Order Status:</td>
                                                <td id="order-status">Processed</td>
                                            </tr>
                                
                                            <tr>
                                                <td>Order Date:</td>
                                                <td>10/01/2019</td>
                                            </tr>
                                            <tr>
                                                <td>Modified Date:</td>
                                                <td>10/01/2019</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Products</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="product">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="text-left">Product</td>
                                                <td class="text-left">Model</td>
                                                <td class="text-right">Quantity</td>
                                                <td class="text-right">Unit Price</td>
                                                <td class="text-right">Total</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">
                                                    <a href="http://demo.arastta.org/admin/index.php?route=catalog/product/edit&amp;token=39d4b8e90f0420ac20599756430fa54d&amp;product_id=35">Retro
                                                        Wide</a>
                                                    <br>
                                                    &nbsp;<small> - Size: Medium</small>
                                                </td>
                                                <td class="text-left">Product 8</td>
                                                <td class="text-right">1</td>
                                                <td class="text-right">$20.00</td>
                                                <td class="text-right">$20.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">Shipping Cost:</td>
                                                <td class="text-right">$0.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">Eco Tax (-2.00):</td>
                                                <td class="text-right">$2.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">VAT (20%):</td>
                                                <td class="text-right">$3.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">Sub-Total:</td>
                                                <td class="text-right">$15.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">Total:</td>
                                                <td class="text-right">$20.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">History</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="history">
                                <div id="history">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td class="text-left">Date Added</td>
                                                    <td class="text-left">Comment</td>
                                                    <td class="text-left">Status</td>
                                                    <td class="text-left">Customer Notified</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">10/01/2019</td>
                                                    <td class="text-left">Banka Havalesi/EFT Talimatları<br>
                                                        <br>
                                                        150<br>
                                                        <br>
                                                        Siparişinizi verdikten sonraki 5 iş günü içinde havale/eft
                                                        yapmadığınız taktirde siparişiniz iptal olur.</td>
                                                    <td class="text-left">Processed</td>
                                                    <td class="text-left">Yes</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                <br>
                                <fieldset>
                                    <legend>Add Order History</legend>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-order-status">Order Status</label>
                                            <div class="col-sm-10">
                                                <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default"
                                                        data-toggle="dropdown" data-id="input-order-status" title="Processed"><span
                                                            class="filter-option pull-left">Processed</span>&nbsp;<span
                                                            class="bs-caret"><span class="caret"></span></span></button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner" role="menu">
                                                            <li data-original-index="0"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Canceled</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="1"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Canceled
                                                                        Reversal</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="2"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Chargeback</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="3"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Complete</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="4"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Denied</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="5"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Expired</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="6"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Failed</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="7"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Pending</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="8" class="selected"><a tabindex="0"
                                                                    class="" style="" data-tokens="null"><span class="text">Processed</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="9"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Processing</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="10"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Refunded</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="11"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Reversed</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="12"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Shipped</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                            <li data-original-index="13"><a tabindex="0" class="" style=""
                                                                    data-tokens="null"><span class="text">Voided</span><span
                                                                        class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-notify">Notify Customer</label>
                                            <div class="col-sm-10">
                                                <input type="checkbox" name="notify" value="1" id="input-notify">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-comment">Comment</label>
                                            <div class="col-sm-10">
                                                <textarea name="comment" rows="8" id="input-comment" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-right">
                                        <button id="button-history" data-loading-text="Loading..." class="btn btn-primary"><i
                                                class="fa fa-plus-circle"></i> Add History</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 right-col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Payment Details</h3>
                            <div class="pull-right">
                                <div class="panel-chevron"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="payment">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>First Name:</td>
                                                <td>vfevv</td>
                                            </tr>
                                            <tr>
                                                <td>Last Name:</td>
                                                <td>fvdfvdf</td>
                                            </tr>
                                            <tr>
                                                <td>Address 1:</td>
                                                <td>fvdfvdf</td>
                                            </tr>
                                            <tr>
                                                <td>City:</td>
                                                <td>dvdfvdf</td>
                                            </tr>
                                            <tr>
                                                <td>Postcode:</td>
                                                <td>fvdfvdfv</td>
                                            </tr>
                                            <tr>
                                                <td>Region / State:</td>
                                                <td>Lancashire</td>
                                            </tr>
                                            <tr>
                                                <td>Region / State Code:</td>
                                                <td>LANCS</td>
                                            </tr>
                                            <tr>
                                                <td>Country:</td>
                                                <td>Bangladesh</td>
                                            </tr>
                                            <tr>
                                                <td>Payment Method:</td>
                                                <td>Cash on delivery</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


